@import "tailwindcss";

body {
  background-color: var(--brand-bg);
  color: var(--brand-foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}


* {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #020617;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #020617;
}

*::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 9999px;
}
:root {
  --brand-bg: #0a0a0a;
  --brand-foreground: #f5f5f5;
  --brand-accent: #ff6b00; 
  --brand-accent-soft: #ff6b0033; 
}

